<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 1</key>
	<string>1) Start with your hand out open, facing you
2) Clench fist</string>
	<key>New item - 2</key>
	<string>1) Rest Hand on table
2) Push gently to flatten fingers for 15 seconds</string>
	<key>New item - 3</key>
	<string>1) Hold your hand out in front of you, palm facing you
2) Bend your fingertips down to touch the base of each finger joint. Your hand should look a little like a claw.</string>
	<key>New item - 4</key>
	<string>1) Hold a soft ball in your palm
2) Squeeze Ball</string>
	<key>New item - 5</key>
	<string>1) Rest your hand flat on table
2) Gently lift you index finger off of the table</string>
	<key>New item - 6</key>
	<string>1) Rest your hand flat on table
2) Gently lift you middle finger off of the table</string>
	<key>New item - 7</key>
	<string>1) Rest your hand flat on table
2) Gently lift you ring finger off of the table</string>
	<key>New item - 8</key>
	<string>1) Rest your hand flat on table
2) Gently lift you pinky finger off of the table</string>
	<key>New item - 9</key>
	<string>1) Start with your hand out open, facing you
2) Touch your thumb to the bottom of your pinky finger</string>
	<key>New item - 10</key>
	<string>1) Hold your hand out open, facing you
2) Gently touch your index finger to your thumb, making the shape of an &quot;O&quot;</string>
	<key>New item - 11</key>
	<string>1) Hold your hand out open, facing you
2) Gently touch your middle finger to your thumb, making the shape of an &quot;O&quot;</string>
	<key>New item - 12</key>
	<string>1) Hold your hand out open, facing you
2) Gently touch your ring finger to your thumb, making the shape of an &quot;O&quot;</string>
	<key>New item - 13</key>
	<string>1) Hold your hand out open, facing you
2) Gently touch your pinky finger to your thumb, making the shape of an &quot;O&quot;</string>
</dict>
</plist>
