<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 1</key>
	<string>Make a Fist</string>
	<key>New item - 2</key>
	<string>Finger Stretch</string>
	<key>New item - 3</key>
	<string>Claw Stretch</string>
	<key>New item - 4</key>
	<string>Grip Strength</string>
	<key>New item - 5</key>
	<string>Index Finger Lift</string>
	<key>New item - 6</key>
	<string>Middle Finger Lift</string>
	<key>New item - 7</key>
	<string>Ring Finger Lift</string>
	<key>New item - 8</key>
	<string>Pinky Finger Lift</string>
	<key>New item - 9</key>
	<string>Thumb Flex</string>
	<key>New item - 10</key>
	<string>Index Finger &amp; Thumb Touch</string>
	<key>New item - 11</key>
	<string>Middle Finger &amp; Thumb Touch</string>
	<key>New item - 12</key>
	<string>Ring Finger &amp; Thumb Touch</string>
	<key>New item - 13</key>
	<string>Pinky Finger &amp; Thumb Touch</string>
</dict>
</plist>
