<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 1</key>
	<string>92 93 86 87 79 0</string>
	<key>New item - 2</key>
	<string>7 4 7 2 6 0</string>
	<key>New item - 3</key>
	<string>83 88 88 88 69 0</string>
	<key>New item - 4</key>
	<string>48 54 45 49 49 0</string>
	<key>New item - 5</key>
	<string>6 0 6 1 4 0</string>
	<key>New item - 6</key>
	<string>8 7 3 1 5 0</string>
	<key>New item - 7</key>
	<string>12 11 8 0 4 0</string>
	<key>New item - 8</key>
	<string>13 12 6 1 0 0</string>
	<key>New item - 9</key>
	<string>92 16 10 4 4 0</string>
	<key>New item - 10</key>
	<string>45 80 9 0 2 0</string>
	<key>New item - 11</key>
	<string>56 1 70 2 0 0</string>
	<key>New item - 12</key>
	<string>65 2 5 77 1 0</string>
	<key>New item - 13</key>
	<string>69 4 5 3 53 0</string>
</dict>
</plist>
